*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
   --bg-color: var(var(--bg-color) #101113 );
  --text-color: #fff;
  --main-color: red ;
  --other-color: #fcfcfc;
  --h1-font: 4rem;
  --p-font: 1rem;
}

body{
  background-color: white;
  color: white;
}

header{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
}

.logo{
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.logo i{
  color: red;
  font-size: 32px;
  margin-right: 5px;
}

.navegação{
  display: flex;
}

.navegação a{
  color:black;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 30px;
  transition: a.55s ease;
}

.navegação a:hover{   
  color: red;
}

.header-icons{
  color:  black;
  display: flex;
  align-items: center;
}

#menu{
  font-size: 35px;
  color: black;
  z-index: 1001;
  cursor: pointer;
}

.header-icons i{
  margin-right: 25px;
  font-size: 28px;
  cursor: pointer;
  transition: all .5s ease;
}

.header-icons i:hover{
  transform: translateY(-5px);
  color: red;
}

.hero img{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 340px;
  height: auto;
}
.hero {
  margin-top: 8rem;
  color: black;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color:white;
  background-color: red;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 68vh;
  }
  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #000000;
}